.hero {
    display: flex;
    flex-direction: column;
    align-items:initial;
    border-top: 0.1rem;
  border-top-style: solid;
  border-top-color: rgba(213, 217, 219, 0.397);
  }
  .card {
    background-color: rgb(148 160 171 / 24%);
    margin-top: -175px;
    
  }
  img {
    width: 213px;
    margin-left: 140px;
    border-radius: 20px;
    margin-bottom: -54px;
    margin-top: 60px;
  }
  h2 {
    color: black;
    text-shadow: 2px 2px rgba(240, 248, 255, 0.241);
  }
  a {
    color: #0b0089;
    text-decoration: none;
  }