
.more_2{
    background-color: powderblue;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
   
}
.more_3{
    margin-top: 20px;
}
.volunter{
    margin-top: 20px;
    
}


